<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Exception Handler 사용하기</h1>

    <h2>local Exception Handler</h2>
    <button onclick="location.href='controller-null'">Null point Exception Test</button>

    <h2>MemberRegistException 처리</h2>
    <button onclick="location.href='controller-user'">
        Member Regist Exception
    </button>

    <hr/>

    <h2>Global Exception Handler</h2>
    <a href="other-controller-null">global null pointer</a>
    <a href="other-controller-user">global custom Exception</a>
    <a href="other-controlelr-array">global Exception</a>

</body>
</html>